{% extends 'anim_site_main/base.html' %}
{% load static %}

{% block title %}
	My account
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/accounts/update_account.css' %}">
{% endblock %}

{% block main_menu %}
    {% include "includes/tabs.html" with active_tab='my_account' %}
{% endblock %}

{% block body %}
	 <h3 class="container-fluid md-1 text-center page_title">
		Update Account Info
	</h3>	
    <div class="container account_info ">
        <form method="post">
            {% csrf_token %}
            {% for form in list_of_forms %}
                {% include 'includes/form.html' %}
            {% endfor %}
            <div class="button text-center">
            <button type ="submit" class="btn btn-success ">Update</button>
            </div>
        </form>
    </div>
{% endblock %}