{% extends 'accounts/base_accounts.html' %}

{% block title %}
	Reset your password
{% endblock %}
   

{% block account_content %}
	<div class="login-form">
		<form method="post" novalidate>
			<h2 class="text-center" >Reset your password</h2>
			<p class="text-center">Enter your email address and we will send you a link to reset your password.</p>
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
		</form>
	</div>
{% endblock %}