{% extends 'accounts/base_accounts.html' %}

{% block title %}
	Reset Done
{% endblock %}
   

{% block account_content %}
  	<div class="login-form">
		<form method="post" novalidate>
			<h2 class="text-center" >Reset your password</h2>
			<p class="text-center">Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
			<a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
		</form>
	</div>
{% endblock %}