{% extends 'anim_site_main/base.html' %}
{% load static %}
{% block title %}
	About Us
{% endblock %}

{% block stylesheet %}
	
{% endblock %}

{% block main_menu %}
	  {% include "includes/tabs.html" with active_tab='about_us' %}
{% endblock %}

{% block body %}
    <div class="content">
        <h3 class="container-fluid md-1 text-center page_title">
            {{about_us.title}}
        </h3>
        <div class="container">
            {{about_us.content|safe}}
        </div>
    </div>
	<div class="container-fluid md-1 text-center start_help_back">
			<a href="{% url 'add_donation'%}" class="container md-1 start_help">
				<div class ="row">
					Start helping!
					<!-- <a href="#" class='start_helping'>Start helping</a> -->
				</div>
			</a>
	</div>		

{% endblock %}