{% load static %}
{%load i18n %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{%block title%}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="{% static 'css/anim_site_main/base.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="shortcut icon" type="image/png" href="{% static 'img/anim_site_main/favicon.png' %}"/>


<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()+1).slice(-2)) +":"+ (("0"+dt.getMinutes()+1).slice(-2));
</script>		
		{% block stylesheet %}{% endblock %}
		{% block scripts %}{% endblock %}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126050872-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-126050872-1');

		  function recaptchaCallback() {
        		$('#submitBtn').removeAttr('disabled');
    		  };
		</script>
	</head>
	
	<body>
		{% block entire_body %}
		<nav class="navbar navbar-default">
			<div class="container-fluid md-1" id="we_collected_background">
				<div class="container md-1" id="we_collected">
					<div class="col-sm-6 text-left" id="lang">
						{% get_current_language as LANGUAGE_CODE %}
						<form action= "{% url 'set_language' %}" method = "post">
							{% csrf_token %}
							<input type = "hidden" name = "text" value = "{{redirect_to}}"/>
							<select class="form-control " name = "language" id="lang_input">
								{% get_available_languages as LANGUAGES %}
								{% for language in LANGUAGES %}
									<option value = "{{ language.0}}" {% if language.0 == LANGUAGE_CODE %}selected{% endif %}>
										{{ language.0}}
									</option>
								{% endfor %}
							</select>
							<input class="btn btn-default" id="lang_button" type="submit" value="Go" />
						</form>
					</div>
					<div class="col-sm-6 text-right" id="collected_money">
						{% if user.is_authenticated %}
							{{user.username}}
						{% endif %}
						<img id='vseg_sobr_paw' src="{% static 'img/anim_site_main/vsego_sobrano.png' %}">We collected: <strong>${{total_don_from_users}}</strong>
					</div>
				</div>
			</div>
			<div class="container-fluid sm-1" id="menu_logo">
				<div class="container-fluid md-1" id="menu_logo_background">
					<div class="col-sm-3 text-left" id="logo_block">
						<a class="navbar-brand"  href="{% url 'hom_page' %}" id ='logo_link'>
							<img id='logo' src="{% static 'img/anim_site_main/logo.png' %}">
						</a>
					</div>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
						</button>
					</div>					
					<div class="col-sm-9 text-right" id="menu">
						{% block main_menu %}
						  {% include "includes/tabs.html" with active_tab='tab0' %}
						{% endblock %}
					</div>
				
				</div>
			</div>
			
			
			
			
			
		  <!-- <div class="container-fluid md-1"> -->
			<!-- <p class = "text-right don_amount"> -->
				<!-- {% if user.is_authenticated %} -->
					<!-- {{user.username}}, -->
				<!-- {% endif %} -->
				<!-- {% get_current_language as LANGUAGE_CODE %} -->
				<!-- We collected: $<span id="don_amount">{{total_don_from_users}}</span>, {{LANGUAGE_CODE}}  -->
				
				<!-- <form action= "{% url 'set_language' %}" method = "post" > {% csrf_token %} -->
					<!-- <input type = "hidden" name = "text" value = "{{redirect_to}}"/> -->
					<!-- <select name = "language" id=""> -->
						<!-- {% get_available_languages as LANGUAGES %} -->
						<!-- {% for language in LANGUAGES %} -->
							<!-- <option value = "{{ language.0}}" {% if language.0 == LANGUAGE_CODE %}selected{% endif %}> -->
								<!-- {{ language.0}} -->
							<!-- </option> -->
						<!-- {% endfor %} -->
					<!-- <input type="submit" value="Go" /> -->
				<!-- </form> -->
				
				
			</p>
		  </div>
		</nav>


		{% block body %}
		{% endblock body%}


			<footer class="container-fluid bg-4 text-center footer_back">
				<div class="container md-1 footer">
					<div class ="row">
						<div class="col-sm-4" id='philly_footer'>
							<p>Philadelphia 2019</p>
						</div>
						<div class="col-sm-4">
							<a href='https://www.facebook.com/donaddcom'>
								<img src="{% static 'img/anim_site_main/FB_icon.png' %}">
							</a>
							<a href='https://www.instagram.com/donaddcom/'>
								<img src="{% static 'img/anim_site_main/inst_icon.png' %}">
							</a>
							
						</div>
						<div class="col-sm-4">
							<p>
								Email: donaddcom@gmail.com
								<br/>
								Phone: +1(267)586-9243
								</br>
								<a href='www.linkedin.com/in/s-timshin/'>
									LINKED IN
								</a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		{% endblock entire_body %}
	</body>
</html>
