{% extends 'anim_site_main/base.html' %}
{% load static %}
{% block title %}
	About Us
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/success_stories/success_stories_main.css' %}">
{% endblock %}

{% block main_menu %}
	  {% include "includes/tabs.html" with active_tab='contacts' %}
{% endblock %}

{% block body %}
    <div class="content">
		<h3 class="container-fluid md-1 text-center page_title">
			{{contacts.title}}
		</h3>
        <div class="container">
            {{contacts.content|safe}}
        </div>
		<div class="text-center">
			<a href='https://www.facebook.com/donaddcom'>
				<img class="icons" src="{% static 'img/anim_site_main/fb_dark_icon.png' %}" alt="Image">
			</a>
			<a href='https://www.instagram.com/donaddcom/'>
				<img class="icons" src="{% static 'img/anim_site_main/inst_dark_icon.png' %}" alt="Image">
			</a>			
		</div>
    </div>
	<div class="container-fluid md-1 text-center start_help_back">
			<a href="{% url 'add_donation'%}" class="container md-1 start_help">
				<div class ="row">
					Start helping!
				</div>
			</a>
	</div>	

{% endblock %}