{% extends 'stories/stories_main.html' %}
{% load static %}

{% block title %}
	Success stories
{% endblock %}

{%load i18n %}

{% block main_menu %}
	  {% include "includes/tabs.html" with active_tab='success' %}
{% endblock %}

{% block url %}
    {% url 's_story' story.pk%}
{% endblock %}

{%block sort_url%}
    {% url 's_story' sorted_story.pk%}
{%endblock%}

{% block page_name %}
    <h3 class="container-fluid md-1 text-center page_title">
        {% trans "Just some stories about animals" %}
    </h3>
{% endblock %}
