{%load i18n %}
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">
    <li class="{% if active_tab == 'about_us' %} active{% endif %}">
        <a href="{% url 'about_us' %}">{% trans "About Us" %}</a>
    </li>
    <li class="{% if active_tab == 'success' %} active{% endif %}">
        <a href="{% url 'success_main' %}">{% trans "Stories"%}</a>
    </li>
    <li class="{% if active_tab == 'blog' %} active{% endif %}">
        <a href="{% url 'blog_main' %}">{% trans "Blog" %}</a>
    </li>
    <li class="dropdown {% if active_tab == 'tab4' %} active{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Account" %}</a>
        <ul class="dropdown-menu">
            {% if not user.is_authenticated %}
                <li><a href="{% url 'sign_up' %}">{% trans "Sign up" %}</a></li>
                <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'my_account' %}">{% trans "My account" %}</a></li>
            {% endif %}
	    {% if user.app_user.is_advertiser %}
                <li><a href="{% url 'my_advertisements' %}">{% trans "My Advertisements" %}</a></li>
            {% endif %}
            <li><a href="{% url 'password_reset' %}">{% trans "Reset Password" %}</a></li>
			{% if user.is_authenticated %}
				<li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
            {% endif %}
        </ul>
    </li>
    <li class="{% if active_tab == 'contacts' %} active{% endif %}">
        <a href="{% url 'contacts' %}">{% trans "Contacts" %}</a>
    </li>
    <li class=" donate_tab {% if active_tab == 'tab3' %} active{% endif %} ">
        <a href="{% url 'add_donation' %}">{% trans "Donate" %}</a>
    </li>	
  </ul>
</div>
