{% extends 'anim_site_main/base.html' %}
{% load static %}
{%load i18n %}
{% block title %}
	Blog stories
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/blog/blog_main.css' %}">
{% endblock %}

{% block main_menu %}
	  {% include "includes/tabs.html" with active_tab='blog' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row content">
			<h3 class="container-fluid md-1 text-center page_title">
				{% trans "BLOG" %}
				<br/>
				<span id='how_project_grew'>
					{% trans "Just some notes about this project" %}
				</span>
			</h3>			
			<div class="col-sm-12 text-center">
                <div class="container text-left blog">
                    {% for post in posts %}
                    <p class="post_title">
						<img src="{% static 'img/anim_site_main/paw.png' %}" class='blog_icons' alt="Image">
                        <strong><a href="{% url 'blog_post' post.pk %}" class='blog_links'>{{post.name}}</strong></a> {{post.created_date|date:"n/j/Y"}}
                        <br/>
                    </p>
                    {% endfor %}
                </div>
            </div>
                    {% if posts.has_other_pages %}
                        <nav aria-label="Topics pagination" class="mb-4 col-sm-12 text-center paginator_center">
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">Previous</span>
                                    </li>
                                {% endif %}
                                {% for page_num in posts.paginator.page_range %}
                                    {% if posts.number == page_num %}
                                        <li class="page-item active">
                                            <span class="page-link">
                                                {{ page_num }}
                                                <span class="sr-only">(current)</span>
                                            </span>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if posts.has_next %}
                                    <li class="page-item next">
                                        <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled next">
                                        <span class="page-link">Next</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
        </div>
    </div>
	<div class="container-fluid md-1 text-center start_help_back">
			<a href="{% url 'add_donation'%}" class="container md-1 start_help">
				<div class ="row">
					Start helping!
					<!-- <a href="#" class='start_helping'>Start helping</a> -->
				</div>
			</a>
	</div>	
	<!-- <div class="container-fluid md-1 banner_parent"> -->
		<!-- <img class="banner" src="{% static 'img/anim_site_main/start_helping.png' %}" /> -->
		<!-- <a href="#">fgf</a> -->
	<!-- </div>			 -->

{% endblock %}