.sidenav {
	height:100%;
	padding-top: 20px;
	background-color: #f1f1f1;
}



.stories_intro{
	margin-top:40px;
}

.suc_main_img{
    height:100%;
    width:100%;
    max-height:250px;
    max-width:250px;

}

.counter_eye{
    height:20px;
}

hr{
    border-color: #ccc3c3;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.stories_intro p {
    margin: 0;
    padding: 0;
}

.short_description{
    height:70px;
    width:100%;
    max-width: 350px;
    margin:auto;
    overflow: hidden;
}
