.bg-1{
	background-color: #1abc9c; Green
	color: #ffffff;
	padding-top: 70px;
    padding-bottom: 70px;
}


.bg-3 {

    padding-top: 50px;
    padding-bottom: 70px;
}

.img_links {
    height:90%;
    width: 90%;
    max-height:300px;
    max-width:300px;
}




.description{
    max-width:1200px;
}


.banner_parent{
	position: relative;
	padding:0px;
	top: 0;
	left: 0;
}

.banner{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.banner_inner {
  position: absolute;
  top: 30px;
  left: 70px;
  width: 50%;
  height: auto;
}

.what_we_do_bckgr{
	background-color:#2cae51;
}

.what_we_do{
	background-color:#2cae51;
	color: #ffffff; 
	width:100%;
	max-width:2000px;
}

.give_your_time{
	background-image: url("../../img/anim_site_main/paw.png");
	background-repeat: no-repeat;
	background-position: center;
	min-height:300px;
}


.give_time_text{
	margin-top:50px;
}

.how_it_works{
	background-color:#2cae51;
	color:white;
	width: 100%;
}

.section_with_icons{
    margin-top: 30px;
	margin-bottom:40px;
	width: 100%;
	max-width:2000px;
}

#how_works_title{
	margin-bottom:45px;
	font-weight: bold;
}

.icon_title{
	margin-bottom:25px;
	font-weight: bold;
	
}

.how_works_icon{
	/* width:20%; */
	padding:0px;
}

.how_works_paws{
	/* width:20%; */
	padding:0px;
}
	
	
	
.icons{
    height:100%;
    width:100%;
    max-height:250px;
    max-width:250px;

}



.arrow1, .arrow2{
    margin-top:30px;
    margin-bottom:30px;
    height:40%;
    width:50%;
}

.arrow1{
	margin-top:150px;
}

.arrow2{
	margin-top:30px;
}


.cant_help_all a{
	color:white;
}

.icon_links3{
	padding:0px;
	background-image: url("../../img/anim_site_main/abt_us1.png");
	height:300px;
	position: relative;
	border-radius: 25px;
}

.icon_links1 img{
	width:100%;
}

.icon_links2 img{
	width:100%;
}

.icon_links1 {
	padding-left:0px;
	padding-right:2px;
}

.icon_links2 {
	padding-right:0px;
	padding-left:2px;
}


.cant_help_all{
	/* max-width:900px; */
	margin-bottom:30px;
}

.abt_us{ 
	background-image: url("../../img/anim_site_main/abt_us.png");
	height:300px;
}

.blg{ 
	background-image: url("../../img/anim_site_main/blog.png");
	height:300px;
}

.classWithPad {
	border-radius: 25px;
}

.classWithPad h4 {
	padding-top:25%;
	font-weight: bold;
	font-size: 26px;
}

.cant_help_all .row {
	margin-bottom: 10px;
}

.icon_links3 h4 {
	position: inherit;
	margin-top: 11%;
	font-weight: bold;
	font-size: 26px;
	border: 3px solid #fff;
	width: 20%;
	padding: 10px 0 10px 0;
}

#cant-help-everyone-row {
	background-color: #2f2f2f;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding: 20px 0 20px 0;
}


.cant_help_all_back h1 {
	font-size: 26px;
	color: #2f2f2f;
	font-weight: bold;
	margin-top: 40px;
}

@media only screen and (max-width: 600px) {
	.arrow1 {
		margin-top: 30px;
	}

	#cant-help-everyone-row {
		padding: 20px 20px 20px 20px;
	}

	.classWithPad h4 {
		padding-top: 44%;
	}

	.icon_links3 {
		padding-top: 30%;
	}

	.icon_links3 h4 {
		width: 66%
	}

	.section_with_icons {
		margin-top: 0;
	}

	#how_works_title {
		margin-bottom: 10px;
		font-size: 24px
	}

	.arrow1 {
		margin-top: 30px;
	}

	.how_works_paws hr {
		display: none;
	}
}
	
	
